---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Links">
  <section class="prose">
    <h2>Links</h2>
    <ul>
      <li><a href="https://github.com/Shinki0325">GitHub</a></li>
    </ul>
  </section>
</BaseLayout>
