---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Links">
  <section class="prose">
    <h2>友情链接</h2>
    <ul>
      <li><a href="https://y0m1.fun/" target="_blank" rel="noreferrer">Yomi</a>：可爱的捏</li>
      <li><a href="https://sef.ucass.edu.cn/" target="_blank" rel="noreferrer">中国社会科学院大学经济学院</a>：本科母校</li>
    </ul>
    <h3>参考资料</h3>
    <ul>
      <li><a href="https://www.nber.org/papers" target="_blank" rel="noreferrer">National Bureau of Economic Research</a>：working papers</li>
      <li><a href="https://www.lianxh.cn/" target="_blank" rel="noreferrer">连享会</a>：计量经济学方法学习</li>
      <li><a href="https://libgen.is/" target="_blank" rel="noreferrer">Library Genesis</a>：外文学术书籍查阅</li>
    </ul>
  </section>
</BaseLayout>
